$colorBackgroudDefault: #f9f9fa;
$colorTextDefault: #676a6c;
$colorAccent: #EC5854;
$colorAccentContrast: #c64811;
$colorBlack: #424242;
$colorWhite: #ECF0f1;
$colorDimWhite: #d4d4d4;
$colorGray: rgb(128, 128, 128);
$colorDanger: rgb(217,83,79);

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;