@using ALEWebApp.Helpers
<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        @*<img src="~/Content/Images/logo/logo_caronly.png" />*@
    </header>
    <ul>
        <a href="@Url.Action("Index", "Home")"><li tabindex="0" class=" @Html.IsActive("Home")"><i class="fa fa-tree"></i><span>Assignment 1</span></li></a>
    </ul>
</nav>c